@tailwind base;
@tailwind components;
@tailwind utilities;

/* .sidebar {
    @apply text-sm fixed left-0 top-0 w-60 h-screen bg-white border-r p-6
} */
.divider {
    @apply h-[1px] w-full bg-zinc-200;
}

.topbar.active {
    @apply pl-60;
}

.sidebar.active {
    @apply w-60 p-6;
}

.sidebar .item.active {
    @apply bg-[#F2F8FC] font-bold text-[#2987C2];
}

.dropdown-items {
    @apply max-h-0 overflow-hidden;
}

.dropdown-items.active {
    @apply max-h-full overflow-auto;
}

.dropdown.active {
    @apply opacity-100 pointer-events-auto;
}

/* .card-register .right-content {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
} */