<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link href="../../assets/styles/output.css" rel="stylesheet">
    <link rel="icon" href="../../assets/favicon.svg">
</head>
<body class="container mx-auto flex flex-col justify-center items-center h-screen gap-3">
    <div class="btn btn-primary">
        btn primary
    </div>
    <div class="btn btn-secondary">
        btn secondary
    </div>
    <div class="btn btn-warning">
        btn warning
    </div>
    <div class="btn btn-success">
        btn success
    </div>
    <div class="btn btn-danger">
        alert danger
    </div>
</body>
</html>